<div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('card_background.jpg') %>')">
  <h1><%= @list.name %></h1>
  <span class="movie-tag"><%= pluralize(@list.movies.size, 'movie') %></span>
</div>

<div class="d-flex justify-content-between my-4">
  <div>
    <%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
      <%= link_to 'delete this list', list_path(@list), method: :delete, class: 'btn btn-cancel', data: { confirm: 'Are you sure you want to delete this list?' } %>
    <%= link_to 'Back to my lists', lists_path %>
  </div>
</div>

<div class="card-deck">
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="card">
      <%= image_tag movie.poster_url, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= movie.title %></h5>
        <p class="card-text"><%= movie.overview %></p>
        <p class="card-text"><small class="text-muted"><%= movie.rating %></small></p>
        <p class="card-text"><small class="text-muted">"<%= bookmark.comment %>"</small></p>
      </div>
    </div>
    <% end %>
 </div>
